.m-story
  height 100%
  width 40%
  position absolute
  top 0
  left 0
  //background: linear-gradient(to right, rgba(#d7cdbc, .9) 35%, transparent);
  pointer-events none
  overflow-y auto

  // .container
  //   width 75%
  //   height 100%
  //   padding 80px 25px 0

  // h1
  //   margin-bottom 20px
  //   text-align center
  //   color #333
  //   font-size 80px

  // .description
  //   font 25px Helvetica


