.m-timeline
  width 500px
  height 60px
  background $gray-lighter
  border 1px solid $gray
  position absolute
  right 25px
  bottom 25px

.timeline-controls,
.timeline-svg
  float left

.timeline-controls
  height 100%
  width 60px
  background $gray

.timeline-svg
  height 100%
  width calc(100% - 60px)
  background #fff
